 .dflex{
	display: flex;
	gap: 1rem;
 	width: fit-content;
	margin-top: 4rem;
	border-top: 1px solid brown;
	padding: 2rem 0;
	border-top: 2px solid #ccc;

			@media (min-width: 769px){
				margin-top: 0;
				border: 0;
			}
 }

 .dflex .link{
	text-decoration: underline;
	display: flex;
	align-items: center;
	padding: .6em 1rem;
	white-space: nowrap;;
 }

 .dflex .btn{
	background-color: var(--primary);
	display: flex;
	align-items: center;
	border-radius:5px;
	color: var(--white);
	padding: .6em 1rem;
 }