.container{
    padding: 1em;
}

.menu{
    display: flex;
    gap: 1rem;
}

.input__computer{
    border: 2px solid #ccc;
    border-radius: 6px;
    width: 100%;
    max-width: 560px;
}

.input__computer input{
    height: 44px;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0 .5rem;
}